site_name: Documentation Space
site_description: Your club's documentation hub
site_author: Angads17-Code

theme:
  name: readthedocs
  highlightjs: true
  hljs_languages:
    - yaml
    - python
    - javascript
  navigation_depth: 4
  collapse_navigation: false
  sticky_navigation: true

plugins:
  - search
  - roamlinks
  - awesome-pages

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - attr_list
  - md_in_html

# IMPORTANT: This makes the dark mode CSS load
extra_css:
  - stylesheets/dark.css
