site_name: Documentation Space
site_description: Your club's documentation hub
site_author: Angads17-Code

theme:
  name: readthedocs
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search

nav:
  - Home: index.md
  - Welcome: Welcome.md
  - Markdown Tutorial: Markdown tutorial.md
  - Create a Link: create a link.md
  - Space is Cool: Space is soo cool!.md
  - Test: Test.md

# Extra settings
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
