site_name: Documentation Space
site_description: Your club's documentation hub
site_author: Angads17-Code

theme:
  name: material
  palette:
    primary: indigo
    accent: indigo
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - search.suggest
    - search.highlight

plugins:
  - search


# Extra settings
markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
