site_name: Documentation Space
site_description: Your club's documentation hub
site_author: Angads17-Code

theme:
  name: material  # We'll configure it to look like docs
  
  palette:
    # Dark mode (default)
    - scheme: slate
      primary: blue grey
      accent: blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
    
    # Light mode
    - scheme: default
      primary: blue grey
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
  
  features:
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - toc.integrate  # TOC in sidebar (vertical!)
    - navigation.top
    - search.suggest
    - search.highlight

plugins:
  - search
  - roamlinks
  - awesome-pages

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - toc:
      permalink: true
